@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body{
    font-family: 'Roboto Slab', serif;
    margin:0;
    padding:0;
    background-image: url("https://res.cloudinary.com/toniaclara/image/upload/v1599658970/background_zocax2.jpg");
    
}

form{
    width:25%;
    background-color:#12263A;
    height:70vh;
    margin:auto;
    margin-top:100px;
    
}

form input{
    width:80%;
    padding:10px;
    margin-top:10px;
    padding-left:10px;
    margin-bottom:15px; 
    margin-right: 20px;
    margin-left: 20px;
    border-radius:7px;
    border:none;
    background-color: #F4EDEA;

}

form textarea{
    padding:10px;
    margin-top:10px;
    padding-left:10px;
    margin-bottom:10px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius:7px;
    border:none;
    background-color: #F4EDEA;
    
}

.des{
    
    width:20%;
    background-color: #0B2545;
    color:#EEF4ED;
    Margin-right:10px;
    margin-left:150px;
    text-align: center;
    border-radius:7px;
    border:none;
}